*.pyc
/.idea
/experiments
/qsvm_figs
Figure_1.png
quantized_sample.png
/models_patches
/.data
/examples/outputs
!examples/fubini/*.py
examples/*.png
examples/*.npz
examples/*.txt
examples/fubini/*.png
examples/fubini/*.npz
examples/fubini/*.txt
/examples/.cache
/examples/data
/.cache
/examples/patchs/outputs
/data
/examples/iris/outputs
