*.pyc
/.idea
/data
/experiments
/cache/*_patches
/cache/models
/cache/*_res
/qsvm_figs
/cache_*
Figure_1.png
/.cache_test
quantized_sample.png
/cache
/models_patches
/.data
/examples/outputs
!examples/fubini/*.py
examples/*.png
examples/*.npz
examples/*.txt
examples/fubini/*.png
examples/fubini/*.npz
examples/fubini/*.txt
